<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
  https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="airtel" class="SetterInjection.Airtel"></bean>
    <bean id="jio" class="SetterInjection.Jio"></bean>

    <bean id="samsung" class="SetterInjection.Samsung">
        <property name="SimCard" ref="airtel"></property>
    </bean>

    <bean id="apple" class="SetterInjection.Apple">
        <property name="SimCard" ref="jio"></property>
    </bean>
    
</beans>